/* Add additional stylesheets below
-------------------------------------------------- */
.fade {
  opacity: 0;
  -webkit-transition: opacity 1.35s linear;
  -moz-transition: opacity 1.35s linear;
  -o-transition: opacity 1.35s linear;
  transition: opacity 1.35s linear;
}
.fade.in {
  opacity: 1;
  -webkit-transition: opacity 3.0s linear;
  -moz-transition: opacity 3.0s linear;
  -o-transition: opacity 3.0s linear;
  transition: opacity 3.0s linear;
}

.outer-message {
    top: 0;
    left: 0;
    width: 80%;
}
.inner-message {
    margin: 0 auto;
}

.alerts {
  z-index: 2000;
  margin-top: -100px;
  top: 0px;
  left: 20px;
  right: 20px;
}
.alert-error {
    background-color: red;
}
