<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout i18n("trips")>


<h1>${i18n("trips")}</h1>
<div class="list-group">
    <#list trips as trip>
        <a id="link_trip_${trip.id}" href="trips/${trip.id}" class="list-group-item">${trip.name} (${trip.id})</a>
    </#list>
</div>
<button type="button" class="btn btn-default" aria-label="Add" onclick="window.location='/trips/new';">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>

</@layout.myLayout>