<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Trip ${trip.id}">

<h1>${i18n("trip")}</h1>
<form action="/trips" method="post">
    <div class="form-group">
        <label for="id">${i18n("id")}</label>
        <input type="number" class="form-control" id="id" name="id" value="${trip.id}" readonly="readonly">
    </div>
    <div class="form-group">
        <label for="name">${i18n("name")}</label>
        <input type="text" class="form-control" id="name" name="name" value="${trip.name}" >
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">${i18n("cities")}</div>

        <table class="table">
            <#list trip.stops as stop>
                <tr>
                    <td><input type="text" class="form-control" id="stops[${stop_index}]" name="stops" value="${stop}" ></td>
                </tr>
            </#list>
        </table>
    </div>

    <button type="submit" class="btn btn-default">${i18n("submit")}</button>
</form>
<br>
<div class="panel panel-default">
    <div class="panel-heading">${i18n("stops")}</div>
    <div class="panel-body">
        ${trip.stops?join(", ")}
    </div>
</div>

</@layout.myLayout>