<div class="navbar navbar-inverse navbar-fixed-top" xmlns:float="http://www.w3.org/1999/xhtml">
	<div class="container">
		<div class="navbar-header" style="float:none;">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">${i18n("header.title")}</a>
			<a class="navbar-brand" href="/trips">${i18n("trips")}</a>
			<a class="navbar-brand" href="/cities">${i18n("cities")}</a>

			<div class="dropdown nav pull-right">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					${i18n("language.chose")}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">de</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">en</a></li>
				</ul>
			</div>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>