<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout i18n("Cities")>

<div class="panel panel-default">
    <div class="panel-heading">${i18n("cities")}</div>

    <table class="table">
        <#list cities as city>
            <tr>
                <td>${city_index}</td><td>${city}</td>
            </tr>
        </#list>
    </table>
</div>

</@layout.myLayout>